*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

/* begin the nav bars */

.header {
    width: 100%;
    display: flex;
    position: relative;
    background-image: url("./images/Rectangle.png");
    background-repeat: no-repeat;
    top: 1.9em;
}

.top-nav-left {
    position: relative;
    margin-left: 2.2em; 
    margin-top: -1.4em;
}

.top-nav-right {
    position: absolute;
    right: 4em;
    margin-right: 0em;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 4em;
}

.top-links {
    display: flex;
    align-items: center;
    gap: .8em;
    height: 2em;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
}

.right-navigation {
    position: absolute;
    top: 10.55em;
    left: 2.2em;
    width: fit-content;
    /* the following helps see where the actual box is */
    /* background-color: hotpink; */
}

table a {
    text-decoration: none;
    color: black;
    font-family: 'Mate';
    font-style: normal;
    font-size: 1.5em;
}

table td{
    padding: .39em 0em;
}

.lower-links {
    display: flex;
    column-gap: 24px;
    position: absolute;
    list-style: none;
    font-style: 'Inter';
    font-weight: 400;
    font-size: 1.2em;
    right: 5.2em;
    top: 5.9em;
    /* background-color: hotpink; */ /* use to locate on page */
}
.input-fill {
    border-radius: 5px;
    background: #D9D9D9;
    padding: 0em .2em 0em .3em;
    border-style: none;
}

.title-isbn { /* had to add the class tag and items following box-shadow bc only the title and isbn have gradient */ 
    box-shadow: inset 0px .3em .3em rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: #D9D9D9;
    border-style: none;
    padding: 0em .2em 0em .3em;
}

::placeholder {
    color: black;
    opacity: 1; /* for Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11*/
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge*/
    color: black;
}


.lower-link-dropdowns{
    display: flex;
}

.arrow {
    position: relative;
    right: 1.1em;
    top: -.15em;
    width: .5em;
    height: .5em;
    vertical-align: middle;
    display: inline-block;
    border-left: solid black;
    border-bottom: solid black;
    transform: rotate(-45deg);
}

.search-cat {
    font-family: 'Inter';
    font-weight: 700;
    position: relative;
    left: .7em;
}

/* end nav bars */

@media only screen and (min-width: 901px) and (max-width: 1380px) {
    table a {
        font-size: 1.3em;
        text-decoration: none;
        color: black;
        font-family: 'Mate';
        font-style: normal;
    }
}

@media only screen and (max-width: 900px) and (min-width: 747px)  {
    .header {
        width: 100%;
        display: flex;
        position: relative;
        background-image: url("./images/Rectangle.png");
        background-repeat: no-repeat;
        top: 1.9em;
    }
    
    .lower-links {
        display: flex;
        column-gap: 24px;
        position: absolute;
        list-style: none;
        font-style: 'Inter';
        font-weight: 400;
        font-size: 1.2em;
        right: 5.2em;
        top: 6.9em;
        /* background-color: hotpink; */ /* use to locate on page */
    }
    
    table a {
        font-size: 1.2em;
        text-decoration: none;
        color: black;
        font-family: 'Mate';
        font-style: normal;
    }

      .right-navigation {
        position: absolute;
        top: 10.55em;
        left: 1.2em;
        width: fit-content;
        /* the following helps see where the actual box is */
        /* background-color: hotpink; */
    }
}

@media only screen and (max-width: 746px) {
    
    .header {
        width: 100%;
        display: flex;
        position: relative;
        background-image: url("./images/Rectangle.png");
        background-repeat: no-repeat;
        top: 1.9em;
    }

    .search-img {
        display: block;
        position: absolute;
        right: 0em;
        margin-right: 0em;
    }

    .top-links {
        visibility: hidden;
    }
    
    .lower-links {
        display: none;
    }

    .right-navigation {
        display: none;
    }

}
/* the following is used for lining things up on a page */
/* .line {
    position: absolute;
    color: green;
    width: 100%;
    top: 7.8em;
} */

/* begin homepage content */

img {
    max-width: 100%;
    display: block;
}
.hp-cards {
    position: absolute;
    top: 14em;
    left: 15em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    column-gap: 2em;
    row-gap: 2em;
    margin-left: 2em;
    margin-right: 3em;
    padding-bottom: 3em;
}

/* .hp-card-stack {
    border: 3px solid hotpink;
} */

.hp-card-img {
    width: 100%;
}

.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1/2;
    grid-row: 1/2;
}

.button {
    position: relative;
    top: 55%;
    left: 10%;
    width: 80%;
    height: 20%;
    background-color:#742C2C;
    border-style: none;
    border-radius: 20px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3em;
    color: #FFFFFF;
    border: 1px solid rgba(12, 48, 64, 0.22);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, .025);
}

.hp-title {
    font-family: 'Mate';
    font-weight: 400;
    font-size: 3.15em;
}

.hp-p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1em;
}

@media only screen and (min-width: 901px) and (max-width: 1380px) {
    .hp-cards {
        position: absolute;
        top: 14em;
        left: 13em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr;
        column-gap: 2em;
        row-gap: 2em;
        margin-left: 2em;
        margin-right: 3em;
        padding-bottom: 3em;
    }
    
    .hp-title {
        font-family: 'Mate';
        font-weight: 400;
        font-size: 2em;
    }

    .hp-p {
        font-family: 'Inter';
        font-weight: 400;
        font-size: .875em;
    }

    .button {
        position: relative;
        top: 55%;
        left: 10%;
        width: 80%;
        height: 20%;
        background-color:#742C2C;
        border-style: none;
        border-radius: 20px;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 2em;
        color: #FFFFFF;
        border: 1px solid rgba(12, 48, 64, 0.22);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, .025);
    }
}

@media only screen and (min-width: 747px) and (max-width: 900px) {
    .hp-cards {
        position: absolute;
        top: 14em;
        left: 11em;
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr;
        column-gap: 2em;
        row-gap: 2em;
        margin-left: 2em;
        margin-right: 3em;
        padding-bottom: 3em;
    }


    .button {
        position: relative;
        top: 55%;
        left: 10%;
        width: 80%;
        height: 20%;
        background-color:#742C2C;
        border-style: none;
        border-radius: 20px;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 2em;
        color: #FFFFFF;
        border: 1px solid rgba(12, 48, 64, 0.22);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, .025);
    }
}

@media only screen and (max-width: 746px) {
    .hp-cards {
        position: absolute;
        top: 14em;
        left: 1em;
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 1fr 1fr;
        column-gap: 2em;
        row-gap: 2em;
        margin-left: 1em;
        margin-right: 2em;
        padding-bottom: 3em;
    }

    .button {
        position: relative;
        top: 55%;
        left: 10%;
        width: 80%;
        height: 20%;
        background-color:#742C2C;
        border-style: none;
        border-radius: 20px;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5em;
        color: #FFFFFF;
        border: 1px solid rgba(12, 48, 64, 0.22);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, .025);
    }
}

  

/* end homepage content */

/* begin sign-up page */

.top-signup {
    font-size: 2em;
    text-align: end;
    font-family: 'Inter';
    font-weight: 700;
    color: #742C2C;
}

.topsignup-bottom {
    color: #ED907F;
}

.signup-right {
    font-size: 2em;
    font-family: 'Inter';
    font-weight: 700;
    padding-bottom: 1.8em;
    color: #984F1F;
}

.signup {
    position: absolute;
    top: 13em;
    left: 18em;
    display: grid;
    grid-template-rows: 9fr 50fr;
    margin-left: 2em;
    margin-right: 1em;
    padding-bottom: 3em;
}

.signup-grid {
    display: grid;
    grid-template-columns: 1.5fr 1.1fr; 
    justify-content: space-between;
}

.signup-left {
    padding-top: 1em;
    padding-right: 1em;
}

.sign-up-img {
    max-width: 80%;
    max-height: auto;
}

.form-control {
    font-size: 1.1em;
    font-family: 'Inter';
    font-weight: 400;
    padding-bottom: 1.3em;
}

.input-fill-2 {
    box-shadow: inset 0px .3em .3em rgba(0, 0, 0, 0.25);
    background: #D9D9D9;
    border-style: none;
    height: 2em;
}

.signup-bottom {
    display: flex;
    font-size: .55em;
    justify-content: flex-end;
    align-items: flex-end;
}

.reg-button {
    font-size: 2em;
    color: #FFFFFF;
    background-color: #067C44;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .025);
    border-style: none;
    border-radius: 17px;
    padding: .3em .9em .3em .5em;
}

/* end sign up page */

/* begin about page */

.about-grid {
    position: absolute;
    top: 9.5em;
    left: 17em;
    padding-right: 1.5em;
}

.about-cards {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    grid-row: 1fr 1fr;
    gap: 2em;
}

.about-page-left {
    display: grid;
    gap: 2em;
}

.about-page-right {
    display: grid;
    gap: 2em;
}


.about-p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.17em;
}

.about-card-title {
    font-family: 'Imbue', serif;
    font-size: 2.3em;
    padding-bottom: .8em;
}

/* end about page */

/* begin book listings page */

booklistings {
    font-family: 'Inter';
    font-weight: 400;
}

.book-listings {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 2em;
    position: absolute;
    top: 10em;
    left: 18em;
    padding-right: 3em;
}

.book-listings-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.8fr 1fr;
}

.booking-img-left {
    align-self: end;
}

.availibility {
    display: inline-block;
    margin: 0em 3em 0em 3em;
}

.not-available {
    width: 8em;
    margin-top: 1.5em;
    box-shadow: inset 0px .3em .3em rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    background: #D9D9D9;
    border-style: none;
    padding: .1em 0em .1em 0em;
    font-size: 1em;
}

.place-hold {
    width: 8em;
    margin-top: 1.5em;
    color: #FFFFFF;
    background-color: #067C44;
    border-style: none;
    border-radius: 3px;
    padding: .1em 0em .1em 0em;
    font-size: 1em;
}

.check-out {
    width: 8em;
    color: #FFFFFF;
    background-color: #067C44;
    border-style: none;
    border-radius: 3px;
    padding: .1em 0em .1em 0em;
    font-size: 1em;
}

.book-listings-right {
    display: grid;
    grid-template-columns: 1fr;
}

.booklistings-right-1 {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.booklistings-right-3 {
    display: flex;
    justify-content: space-around;
    padding: .3em 0em 1em 0em;
}

.booklistings-right-5 {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2em;
}

.pagination a {
    color: black;
    text-decoration: none;
}

/* end book listing page */

/* begin book description page */

book-description {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1em;
}

.book-description-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 5em;
    position: absolute;
    top: 10em;
    left: 20em;
    margin-right: 15em;
}

.description-grid-right {
    display: grid;
    grid-template-rows: .7fr 1fr 1fr;
    row-gap: 0em;
}

.description-table {
    width: 100%;
}

.description-titles {
    padding-bottom: .6em;
}

.description-bottom-p {
    padding-bottom: 2em;
}

.description-authors {
    font-size: 1.1em;
    text-decoration: none;
}

.star-rating {
    display: flex;
    justify-content: center;
    padding: .5em 0em .5em 0em;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    color: orange;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
}


.check-out-description {
    color: #FFFFFF;
    background-color: #067C44;
    border-style: none;
    border-radius: 10px;
    padding: .3em 1em .3em 1em;
    font-size: 1em;
}

.button-description {
    display: flex;
    justify-content: center;
}

/* end description page */

/* begin profile page */

.profile-header {
    font-family: 'Inter';
    font-weight: 700;
}

.profile-titles {
    font-family: 'Inter';
    font-weight: 700;
}

.profile-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5em;
    position: absolute;
    top: 11em;
    left: 20em;
    margin-right: 10em;
}

.profile-right-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.profile-left {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.profileleftgrid-top {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.profileleftgrid-top-r {
    display: grid;
    grid-template-columns: 1fr 1fr;
}